---
BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 120

PointerAlignment: Left
DerivePointerAlignment: false

AllowShortFunctionsOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
